
export PYTHONPATH={{ pythonpath_dir }}
export DJANGO_SETTINGS_MODULE='{{ django_env.DJANGO_SETTINGS_MODULE }}'
export DJANGO_SECRET_KEY='{{ django_env.DJANGO_SECRET_KEY }}'
export DJANGO_DB_PASSWORD='{{ django_env.DJANGO_DB_PASSWORD }}'
export DJANGO_DB_NAME='{{ django_env.DJANGO_DB_NAME }}'
export DJANGO_DB_USER='{{ django_env.DJANGO_DB_USER }}'
export DJANGO_SERVER_DNS='{{ django_env.DJANGO_SERVER_DNS }}'
export DJANGO_SERVER_PORT='{{ appserver_port }}'
export DJANGO_SERVER_SCHEMA='{{ django_env.DJANGO_SERVER_SCHEMA }}'
export DJANGO_DB_HOST='{{ django_env.DJANGO_DB_HOST }}'

