[uwsgi]
master     = true
processes  = 2
chdir      = {{ pythonpath_dir }}
; **** the 'module' is the wsgi.py file for the project
module     = wsgi
home       = {{ install_dir }}
socket     = {{ hostvars[inventory_hostname][eth_interface]['ipv4']['address'] }}:{{ appserver_port }}
logto      = /var/log/uwsgi/uwsgi.log
no-site    = true

pythonpath = {{ pythonpath_dir }}
pythonpath = {{ install_dir }}/lib/python2.7
pythonpath = {{ install_dir }}/local/lib/python2.7/site-packages
pythonpath = /usr/lib/python2.7

check-static = {{ pythonpath_dir }}/STATIC_ROOT/

log-format = %(tmsecs) [%(ltime)] - %(addr) - "%(method) %(uri) %(proto)" %(status) %(size) "%(referer)" "%(uagent)"

