upstream app_server_pool  {
{% for host in groups['applayer-hosts'] %}
   server {{ hostvars[host][eth_interface]['ipv4']['address'] }}:{{ appserver_port }} ;
{% endfor %}
}

server {
    listen 80;

    #
    # All content is served via uWSGI from the backend pool...
    #
    location / {
        include includes/uwsgi.conf;
    }

    #
    # ... except static media files, which also get some cache
    # configuration applied to them. We don't want to cache
    # any non-static pages. Fortunately, we can identify all
    # requests for static media files easily by looking for
    # the /m prefix in the URL.
    #
    location /m/ {
        include includes/uwsgi.conf;
        include includes/uwsgi_cache.conf;
    }

}

