upstream {{ ansible_ssh_host }}  {
{% for host in groups['applayer-hosts'] %}
   server {{ hostvars[host][eth_interface]['ipv4']['address'] }}:{{ appserver_port }} ;
{% endfor %}
}

server {
  listen 80;

  location / {
    proxy_pass  http://{{ ansible_ssh_host }};
  }

}

